.transacHistPage{
  width: 100%;
  .transacHistTable{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color:$Slate;
    .transacHistTableRow{
      height:110px;
      width: 100%;
      display: flex;
      align-items: center;
      .transacTableCell{
        display: flex;
        align-items: center;
        font-size: 1.7vw;
        padding: 15px;
        border-bottom: 1px solid $Slate;
        height: 100%;
        .img-round {
          width: 80%;
          border-radius: 50%;
        }
        .recipientEmail{
          font-size: 1.5vw;
        }
        p#transacAmountCell{
          font-size: 2.1vw;
          font-weight: 900;
          width:100%;
          text-align: center;
        }
      }
    }
  }
}
