@import '../../node_modules/spinkit/scss/spinners/10-fading-circle.scss';

@import "./variables";
@import "../components/sendMoney/styles";
@import "../components/transacHist/styles";
@import "../components/common/btnGroup/styles";
@import "../components/common/nav/styles";
@import "../components/common/sendOrViewBtns/styles";

.appContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.loadingOverlay{
  position:fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgDimmed{
  background-color: rgba(255,255,255,0.5);
}
