
//Paypal colors
$PayBlue: #00457C;
$PalBlue: #0079C1;
$Sand: #959484;
$Slate: #717074;

$lightGrey: #ECECEC;



$breakPoint-XS: 768px;


$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: #000000 !default;
