.btnContainer{
  height: 100%;
  padding: 20px;
}

.btnBase{
  border: 1px solid $Sand;
  color: $Sand;
  border-radius: 5px;
  padding: 40px;
  height: 180px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .btnIconBase{
    width:100%;
    display: flex;
    justify-content: center;
    font-size: 2em;
  }
  p{
    text-align: center;
  }
}

.btnActive{
  color:$PalBlue;
  border-bottom: 5px solid $PalBlue;
  border-radius: 5px;
}
