.navContainter{
  width:100%;
  height: 50px;
  border-bottom: 1px solid #D6D6D6;
  background-color: $lightGrey;
  position:fixed;
  top: 0;
  left:0;
  z-index: 90;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  .navInnerContainter{
    display:flex;
    width: 100%;
    .navCol{
      display:flex;
      justify-content: center;
      width:33.3%;
    }
    .navBkBtnContainer{
      justify-content: flex-start;
      padding: 5px;
      #bkBtn{
        background-color: $PalBlue;
        color: white;
        width:40%;
      }
    }
    #pageTitle{
      color:$PalBlue;
      padding: 10px 0px 10px 0px;
      font-size: 1.5em;
      font-weight: 800;
      @media only screen and (max-width : $breakPoint-XS) {
        font-size: 1.2em;
      }
    }
  }
}
