.sendMoneyComp{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  h1{
    color: #4C4C4C;
  }
  @media only screen and (max-width : $breakPoint-XS) {
    width: 100%;
  }
  .formError {
    width: 100%;
    display: flex;
    color: red;
    justify-content: center;
  }
  .amountInputComp {
    width: 100%;
    display: flex;
    justify-content: center;
    input#sendAmount{
      border: none;
      outline: none !important;
      text-align: center;
      width: auto;
      font-size: 4em;
      height: 100px;
      color: #4C4C4C;
      cursor: pointer;
    }
  }
  .currencySelectComp {
    width: 100%;
    display: flex;
    justify-content: center;
    select#currencySelect{
      background-color: #FFFFFF;
      border: none;
      font-size: 2em;
    }
  }
  .typeSelBtnGrp{
    width: 100%;
    margin-top: 15px;
    font-size: 1.5em;
  }
  .sendMoneyFormBtns{
    margin-left: 25px;
  }
}
